// Colors
$primary-color:#163834; //Dark Green
$secondary-color:#076359; //Medium Green
$tertiary-color:#0a8c7e; //Light Green
$fourth-color:#f0f0f0; //light gray
$light-gray:#eceded;
$white: #FFFFFF;
$black: #1B1818;
$gray: #989898;

// Fonts
$base-font-size: 1.4rem;
$base-line-height: 1.5;
$primary-font: 'Lato', sans-serif;
$secondary-font: 'Raleway', sans-serif;
$regular: 400;
$semibold: 600;
$bold: 900;

// General texts
$xxs:0.9;
$xs:1.2;
$s:1.6;
$m:1.8;
$l:2.2;
$xl:2.8;
$xxl:3.4;
$xxxl:5.0;



// Icons